<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'logine' %}" method="post">
        <h1>Connexion</h1>
        {% csrf_token %}
        <label for="">password:</label>
        <input type="text" name="password" id="">
        <label for="">username:</label>
        <input type="text" name="username" id="">
        <input type="submit" value="logine">
    </form>
</body>
</html>